*.sw[op]
*.pyc
venv/*
.venv/
.vs/*
.vscode/*
__pycache__/*
docs/build/*
build/*
xmarte.egg-info/
dist/*
.python-version
site/*
poetry.lock
xmarte/plugins.yml
test/files/*
xmarte/qt5/services/type_db/templates/**
!xmarte/qt5/services/type_db/templates/**/*.txt
xmarte/qt5/services/type_db/types/**
test.xmt
test.xms
htmlcov/*
.coverage
test/files/test_export.cfg
**/plugins.yml
test/files/
testfile.scene
**/*.xmt