/*#MenuBarSpacer {
    background-color: #455364;
    color: #455364;
}
#service_buttons {
    background-color: #455364;
    color: #455364;
}
#DevBox {
    selection-background-color: #455364;
}
#DevLabel {
    background-color: #455364;
}

#StateLbl {
    background-color: #455364;
}
#ThreadLbl {
    background-color: #455364;
}*/