scratch/
*.pyc
*.swp
*.csv
build/
*.egg-info/
**/__pycache__/*
**/.vscode/*
htmlcov/*
*.cfg
.coverage
.vs/*
.ruff_cache/*
.pytest_cache/*
docs/doxygen/*
docs/log
docs/public/*
coverage.txt
tests/marte2/headers_out/*
public/*
codeclimate.json
log.txt
tests/marte2/new_headers/*
**/*.xmt
dist/*
